.pie {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  background-color: #d4af37;
  border: 2px solid #fafad2;
  margin: auto;
  text-align: center;
}

#time {
  font-size: 3em;
  color: #d4af37;
  margin-top: 20%;
  text-shadow: 0.05em 0 #fafad2, 0 0.05em #fafad2, -0.05em 0 #fafad2,
    0 -0.05em #fafad2, -0.05em -0.05em #fafad2, -0.05em 0.05em #fafad2,
    0.05em -0.05em #fafad2, 0.05em 0.05em #fafad2;
}
